.list {
  display: flex;
  gap: 16px;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
  list-style-type: none;
  border: 1px solid #e6e1e5;
  align-self: stretch;
  min-width: 350px;
  max-height: 88px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.listHeader {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.listText {
  font-family: Inter, sans-serif;
  color: #787579;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-wrap: wrap;
}
