.switchContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 33px;
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(178, 51, 134, 0.3);
  border: 2px solid black;
  transition: 0.4s;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 6px;
  bottom: 7px;
  background-color: black;
  transition: 0.4s;
  border-radius: 50%;
}

.input:checked + .slider {
  background: rgba(178, 51, 134, 1);
}

.input:checked + .slider:before {
  transform: translateX(16px);
  background-color: white;
  height: 24px;
  width: 24px;
  bottom: 3px;
}

.disabled .slider {
  border: 2px solid #aeaaae;
  background: rgba(178, 51, 134, 0.3);
  cursor: not-allowed;
}

.disabled .slider:before {
  background: #aeaaae;
}

.disabled .input:checked + .slider {
  border: 2px solid #aeaaae;
  background: rgba(178, 51, 134, 0.3);
}

.disabled .input:checked + .slider:before {
  transform: translateX(16px);
  background-color: white;
  height: 24px;
  width: 24px;
  bottom: 3px;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #787579;
}
