.label {
  position: absolute;
  top: 40px;
  left: 30px;
  color: #484649;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 4px;
  background-color: white;
  z-index: 1;
  transition-duration: 0.3s;
}

.labelTop {
  position: absolute;
  top: 8px;
  left: 30px;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 0px 4px;
  background-color: white;
  z-index: 1;
  transition-duration: 0.3s;
}

.input {
  position: relative;
  padding: 0.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1rem;
  border-radius: 0;
  height: 56px;
  padding: 4px 0px 4px 16px;
}

.input::placeholder {
  color: #484649;
}

.input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.activeLabel {
  color: #23a094;
}

.focusedInput {
  border: 1px solid #23a094;
}

.errorLabel {
  color: #b3261e;
}

.errorInput {
  border: 1px solid #b3261e;
}

.message {
  position: absolute;
  top: 85px;
  left: 30px;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 0px 4px;
  background-color: white;
  z-index: 1;
}

.supportingMsg {
  color: #605d62;
}

.errorMsg {
  color: #b3261e;
}
