@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.checkboxForm {
  display: flex;
  align-items: center;
}

.title {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-left: 11px;
}

input {
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  border: 2px solid #484649;
  border-radius: 2px;
}

input[disabled] {
  border: 1px solid red;
}

.checked {
  accent-color: #b23386;
}

.disabled {
  border: 1px solid red !important;
}
